<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 

</div>


<div style="text-align: center;" class ="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-4" >
    
     <h1>
    Welcome to your Todos App!
  </h1> 
    <br>

    <input type="text" placeholder="Enter Scheduled Todo...." style="width:300px"  #todoText>
    <input type="button" class="btn btn-md btn-info" (click)="addTodo($event, todoText)" value="Add">
        
    <br>
    
<div [hidden]= "todos.length > 0">
    No Todos
</div>
     <br>
<h2>Todos for the day : </h2>
    <br>
     <br>
    <div class="row"  *ngFor="let todo of todos">
        <div class="col-xs-1 col-sm-1">
            <input type="checkbox" [checked]="todo.isCompleted" (click)="updateCompletionTodo($event, todo)">
        </div>
            
        <div class="col-xs-6 col-sm-5 col-lg-6">
            <span [class.hidden]="todo.inEditMode">{{todo.text}}</span>
            <input type="text" [class.hidden]="!todo.inEditMode" [value]="todo.text" (keypress)="updateTodoText($event, todo)">
            <button class="btn btn-warning" [class.hidden]="!todo.inEditMode" (click)="setEditStatus(todo, false)">Cancel</button>
        </div>

        
        <div class="col-xs-5 col-sm-6 col-lg-4">
        <div class="pull-right">
            <input type="button" id="delete" (click)="deleteTodo($event, todo._id)"  class="btn btn-md btn-danger" value="delete">
            
            </div>
        <div class="pull-left">
            <input [class.disabled]="todo.isCompleted" (click)="setEditStatus(todo, true)" type="button" id="edit" class="btn btn-md btn-default" value="edit">
            </div>
        </div>


    
   

</div>
    <div class="row" *ngFor = "let item of items">
        <li>{{item.name}}</li>
    
    </div>


